@font-face {
  font-family: "chicken_sans_bold";
  src: url("assets/fonts/ChickenSans-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-family: "chicken_sans_bold";
  height: 90px;
}

h1 img {
  width: 150px;
  height: 50px;
  
}

#navlinks {
  display: flex;
  margin: 1rem 0rem;
  font-size: 14pt;
  color: rgb(32, 32, 32);
}

#navlinks a:nth-child(1):hover {
  color: rgb(100, 100, 100);
}

#navlinks a {
  text-decoration: none;
  color: black;
}

.dropbtn {
  /*Dropdown Button */
  background-color: white;
  font-family: "chicken_sans_bold";
  border: none;
  font-size: 13pt;
  cursor: pointer;
}

.dropbtn:hover {
  color: rgb(100, 100, 100);
}

.dropdown {
  /* Positions dropdown content */
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* Dropdown Content - Hidden by default*/
  display: none;
  position: absolute;
  background-color: white;
  font-family: "Helvetica Neue", sans-serif;
  width: 300px;
}

.dropdown-content a {
  margin: 20px 40px;
  display: block;
  text-decoration: none;
  color: rgb(100, 100, 100);
  font-size: 12pt;
}

.dropdown-content a:nth-child(1) {
  margin-top: 50px;
}
.dropdown-content a:nth-child(2) {
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.dropdown-content a:nth-child(4) {
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.dropdown-content a:nth-child(5) {
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#rightnav {
  display: flex;
}

#rightnav a {
  text-decoration: none;
  color: white;
}
#shopping_bag img {
  width: 20px;
  height: 20px;
}

#shopping_bag img:hover {
  fill: #f8f7f6;
}

#shopping_bag {
  color: rgb(191, 90, 9);
  border: 0.05rem solid rgb(191, 90, 9);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 80px;
}

#shopping_bag:hover {
  background-color: rgb(191, 90, 9);
  color: white;
}

#signup {
  background-color: rgb(191, 90, 9);
  padding: 0.5rem 2.5rem;
  border-radius: 1.5rem;
  border: 0.05rem solid rgb(191, 90, 9);
  color: white;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav li {
  margin: 1rem 0.5rem;
}

#mainpage {
  position: relative;
  top: 115px;
}

body {
  background-color: rgb(245, 242, 240);
  font-family: "chicken_sans_bold";
  margin: 0 0 0 0;
}

h2 {
  color: white;
  background-color: rgb(247, 125, 7);
  text-align: center;
  font-size: 6rem;
  padding: 4rem;
  margin: 0;
}

#subheading {
  background-color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 11pt;
  color: gray;
  display: flex;
  justify-content: center;
  margin: 0rem;
  padding: 0;
  height: 25px;
  border-top: 2px solid whitesmoke;
}

#subheading li {
  margin: 0.2rem 0.7rem 0.3rem 0;
}

#subheading a {
  text-decoration: none;
  color: rgb(191, 90, 9);
}

h3 {
  height: 150px;
  width: 80rem;
  text-align: center;
  place-items: center;
  font-size: 22pt;
  color: rgb(32, 32, 32);
  padding: 1.5rem 16rem 1.5rem 16rem;
  line-height: 2.7rem;
}

main {
  max-width: 65rem;
  margin: 3rem auto 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.3rem, 1fr));
  grid-gap: 1rem;
}

section {
  background-color: white;
  height: 320px;
  width: 250px;
  display: grid;
}

section p {
  color: rgb(191, 90, 9);
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0rem 1rem 1.5rem;
}

section img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

h4 {
  font-size: 14pt;
  padding: 0 1rem;
  margin: ;
  color: black;
}

h4 a {
  text-decoration: none;
  color: black;
  padding: 230px 60px 50px 0;
}
nav p {
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(191, 90, 9);
  font-weight: bold;
  padding: 0 1rem;
}

footer {
  background-color: rgb(32, 32, 32);
  color: white;
  height: 300px;
}

footer a {
  color: whitesmoke;
}

footer a:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

#footer_line_one {
  display: flex;
  font-size: 14pt;
  justify-content: left;
  align-items: left;
  margin: 0;
}

#footer_line_one li {
  margin: 2rem 0 0 1.5rem;
  border-right: 1px solid rgba(200, 200, 200, 0.5);
  padding: 0 1rem 0 0;
}

#footer_line_one li:nth-child(1) {
  margin: 2rem 0 0 2.4rem;
}
#footer_line_one li:nth-child(7) {
  border: none;
}

#footer_line_two {
  display: flex;
  font-size: 9pt;
}

#footer_line_two li {
  margin: 0 0 0 1.5rem;
  border-right: 1px solid rgba(200, 200, 200, 0.5);
  padding: 0 1rem 0 0;
}

#footer_line_two li:nth-child(1) {
  margin: 0 0 0 2.4rem;
}

#footer_line_two li:nth-child(7) {
  border: none;
}

footer li {
  margin: 2rem 0 0 2.4rem;
}
p {
  margin: 0 0 0 5rem;
  font-size: 10.5pt;
}
#social_media {
  display: flex;
  margin: 1rem 0 0 2rem;
}

#social_media img {
  height: 35px;
  width: 35px;
  background-color: rgb(191, 90, 9);
  border-radius: 100%;
  padding: 8px;
}

#social_media img:hover {
  background-color: rgb(163, 77, 7);
}

#social_media li {
  margin: 0 0.5rem;
}

footer img {
  height: 125px;
  width: 150px;
}

#bottom {
  display: flex;
  justify-content: space-between;
}
#lovethatchicken {
  height: 150px;
  width: 200px;
  margin: 0 10rem 0 0;
}

#whitespace {
  height: 80px;
  background-color: white;
}

@media (max-width: 60rem) {
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.5rem;
    max-height: 100px;
    width: 300px;
    padding: 0;
  }
}
